<div id="<%= dom_id item %>">
  <p>
    <strong>Title:</strong>
    <%= item.title %>
  </p>

  <p>
    <strong>Item category:</strong>
    <%= item.item_category %>
  </p>

  <p>
    <strong>Producer:</strong>
    <%= item.producer %>
  </p>

</div>
